body{
    background-color: black;
    padding: 12px;
}

h5{
    color:#FFDC66; 
}
.btn-primary{
    font-family: Arial,sans-serif !important;
    padding: 12px 18px;
    font-size: 26px;
    font-weight: bold;
}

h1{
    justify-content: center;
}
footer{
    background-color: #33f574;
    text-align: center;
    border-radius: 4px;
    border: solid 1px;
    border-color:white;
    padding: 3px;
}
footer h5{
   color:whitesmoke;
}
#form{
    background-color: #FFDC66;
    margin: 6px;
    border-radius: 4px;
    justify-content: center;
    border: solid 1px;
    border-color:white;
    text-align: center;
}
#share{
    background-color: orange;
    margin: 6px;
    border-radius: 4px;
    text-align: right;
    border: solid 1px;
    border-color:white;
    padding: 4px;
    
}
#header{
    /* background-image: url('./images/header.jpg'); */
    margin: 6px;
    border-radius: 4px;
    text-align: center;
    border: solid 1px;
    border-color:white;
    /* padding: 19vh; */
    
}
#header h1{
   color:green;
}
#message{
    background-color: rgb(7, 170, 211);
    margin: 6px;
    border-radius: 4px;
    text-align: right;
    border: solid 1px;
    border-color:white;
    padding: 4px;
}
.w3_whatsapp_btn {
    background-image: url('icon.png');
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    display: inline-block !important;
    position: relative;
    font-family: Arial,sans-serif;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: none;
    color: #fff;
    border-radius: 2px;
    background-color: #5cbe4a;
    background-repeat: no-repeat;
    line-height: 0.8;
    text-decoration: none;
    text-align: left;
    }
    .w3_whatsapp_btn_small {
    font-size: 12px;
    background-size: 16px;
    font-weight: bold;
    background-position: 2px 1px;
    padding: 1px;
    color: #fff !important;
    }
    
    .w3_whatsapp_btn_medium {
    font-size: 16px;
    background-size: 20px;
    background-position: 4px 2px;
    padding: 1px;
    font-weight: bold;
    color: #fff !important;
    } 
    
    .w3_whatsapp_btn_large {
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    background-size: 5px;
    background-position: 5px 5px;
    padding: 6px;
    color: #fff !important;
    }
    
    a.whatsapp { color: #fff;}

/* Start Popup*/
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
    background-color: rgba(187, 187, 187, 0.8);
    display: none;
}
.popup .inner{
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px;
    width: 300px;
    height: 200px;
    left: 50%;
    position: fixed;
    margin-left: -150px;
    top: 50%;
    margin-top: -125px;
    border-radius: 5px;
}

.popup .inner p{
    color: #AAA;
    line-height: 1.6
}

.popup .inner button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px 8px;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px;
    cursor:pointer;
}
.show-popup {
    cursor: pointer;
    display: block; 
    text-align: center;
    margin: 20px;
    background-color: #fff;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #928440;
}
/* End Popup*/

/*new poup*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -Moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: Tahoma, Arial
}

.scroll-to-top{
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 0px 5px 3px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
/* End Global rules */

/* Start Header */
.navbar{
    list-style: none;
    margin: 0;
    padding: 5px;
    background-color: #333;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0 ,0, 0, .7)
}
.navbar li {
    display: inline-block;
    padding: 10px;
}
.navbar li a {
    color: #EEE;
    text-decoration: none;
}

.navbar li a.active {
    color: #ffea00;
}
/* End Header */

/*Start Fixed Menu*/
.fixed-menu{
background-color: #333;
color: #EEE;
padding: 10px;
position: fixed;
left: -220px;
top: 0;
height: 100%;
width: 220px;
z-index: 9999;

}

.fixed-menu .fa-cog {
position: absolute;
right:-30px;
top: 90px;
background-color: #333;
width: 30px;
height: 30px;
line-height:30px;
text-align: center;
border-radius: 0 10px 10px 0; 
cursor: pointer;
}
/*End Fixed Menu*/

/* Start sections */
.block{

    min-height: 800px;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 60px 0;
    text-align: center;
}
/* End sections */

/* Start Popup*/
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
    background-color: rgba(187, 187, 187, 0.8);
    display: none;
}
.popup .inner{
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px;
    width: 300px;
    height: 200px;
    left: 50%;
    position: fixed;
    margin-left: -150px;
    top: 50%;
    margin-top: -125px;
    border-radius: 5px;
}

.popup .inner p{
    color: #AAA;
    line-height: 1.6
}

.popup .inner button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px 8px;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px;
    cursor:pointer;
}
.show-popup {
    cursor: pointer;
    display: block; 
    text-align: center;
    margin: 20px;
    background-color: #fff;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #928440;
}
/* End Popup*/

/* Start Progres Bar*/
.animated-progress{
    width: 300px;
    height: 30px;
    border-radius:  5px;
    background-color: #16c143;
    margin: 20px 10px;
    border: 1px solid #CCC;
    background-color: #f6f6f6;
    overflow: hidden;
}

.animated-progress span {
    height: 100%;
    width: 0;
    display: block;
    width: 45% ; 
    color:#fff ; 
    line-height:30px; 
    text-indent:8px;
}

.progress-blue span {
    background-color: #3498db;
}

.progress-red span {
    background-color: #e74c3c;
}
.progress-green span {
    background-color: #16a085;
}
.progress-purple span {
    background-color: #8a44ad;
}
/* End Progres Bar*/

/* Start Gallery*/
.gallery{
    width: 75%;
    margin: auto;
    border: 1px solid #CCC;
    padding: 3px;
    background-color: #FFF;
}

.gallery img {
    max-width: 100%;
}

/*     .gallery .master-img {
    position: relative;
}   */

.gallery .master-img i {
    padding: 10px 5px;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 2; 
}

.gallery .master-img .fa-chevron-left {
    left: 180px;
    margin-top: 450px;
    color: white; 
}

.gallery .master-img .fa-chevron-right {
    right: 180px;
    margin-top: 450px;
    color: white
}

.gallery .thumbnails {
    overflow: hidden;
}

.gallery .thumbnails img {
    float: left;
    border: 3px solid #BBB;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -Moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: .6;
}

.gallery .thumbnails img:last-child {
   margin-right: 0 !important;
}

.gallery .thumbnails img.selected {
    border: 3px solid #ad1f10;
    opacity: 1;
}
/* End Gallery*/

/* Start Prodcuts*/
.products{
    width:800px;
    margin: 30px auto;
    overflow: hidden;
}

.products .product {
    width: 49%;
    float: left;
    background-color: #FFF;
    border:1px solid  #CCC;
    padding: 10px;
}

.products .product:first-child {
    margin-right: 1%
}

.products .product .date {
    display: block;
    color: #888;
    font-size: 12px;
    margin: 5px 0;
}

.products .product i {
    display: block;
    padding: 10px;
    background-color: #EEE;
    margin: 10px 0;
    cursor: pointer;
}

.products .product .description {
    margin: 10px 0;
    display: none;
}
/* End Prodcuts*/